@import '../variables';

.btn {
    color: $white;
    font-weight: bold;
    font-size: 18px;

    background-color: $black;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;

    padding: 19px 0;

    width: 380px;

    cursor: pointer;
    

    &--small {
        width: 179px;
        margin-right: 21px;
    }

    &:disabled {
        opacity: 0.6;
    }
}

@media (max-width: 1024px) {
    .btn {
        font-size: 14px;
    }
}