@import '../variables';

.copyright {
    background-color: $white;

    &__content {
        padding: 20px 50px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .copyright {
        &__content {
            padding: 20px 40px;
            font-size: 14px;
        }
    }
}

@media (max-width: 760px) {
    .copyright {
        &__content {
            text-align: center;
        }
    }
}