@import '../variables';

.footer {
    background-color: #F5F5F5;

    &__content {
        padding: 30px 50px 50px;
        display: flex;

        &>div {
            flex-basis: 33.33%;
        }
    }

    h3 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    ul li {
        font-size: 18px;
        margin-bottom: 10px;

        a:hover {
            text-decoration: underline;
        }
    }

    ul li:last-child {
        margin-bottom: 0;
    }
}

// @media (max-width: 1024px) {
//     .footer {
//         &__content {
//             padding: 30px 40px 40px;
//         }

//         h3 {
//             font-size: 14px;
//             line-height: 17.05px;
//         }

//         ul li {
//             font-size: 14px;
//             line-height: 17.05px;
//         }
//     }
// }

// @media (max-width: 760px) {
//     .footer {
//         &__content {
//             padding: 30px 50px 20px;
//             flex-wrap: wrap;

//             &>div {
//                 flex-basis: 50%;
//                 margin-bottom: 20px;
//             }
//         }
//     }

// }