@import '../variables';

.price {
  display: flex;
  align-items: center;
  
  margin-bottom: 20px;

  &__old-price {
    font-size: 18px;
    opacity: 0.6;
    text-decoration: line-through;
    text-transform: uppercase;

    margin-right: 10px;
  }

  &__current-price {
    font-weight: bold;
    font-size: 30px;
    line-height: 36.54px;
  }
}